@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
	text-align: center;
}

footer {
	text-align: center;
}

/*  header  */
header{
    width: 100%;
    height: 90px;
    background: rgba(255,255,255,.8);
    top:0;
    position: relative;
    position: fixed;
}

header .logo{
    float: left;
    width: 90px;
}

header nav{
    float: right;
    margin-top: 30px;
}

header nav ul li{
    list-style: none;
    float: left;
    margin-left: 45px;
    margin-right: 45px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: .5px;

    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}

header nav ul li a:hover,
header nav ul .selected{
    color: grey;
}

nav a {
	text-decoration: none;
}

nav:ul {
	display: inline;
}

img {
	display: block;
	margin: 0 auto;
}

.logo-banner {
	width: 300px;
}

.top-section {
	background: transparent url("../img/banner2.jpg") no-repeat center top;
	background-size: cover;
	padding: 20rem 0;
}

.about-section {
	background-color: #fff;
}

.about-section h2 {
	text-align: center;
	margin-top: 2em;
}

.about-section ul li {
	list-style-type: none;
	padding-left: 0;
}

.icon {
	width: 60px;
}

.gallery-section {
	background-color: grey;
	padding: 10rem 0;
}

.contact-section {
	background-color: #aaa;
	text-align: center;
	padding: 10rem 0;
}


/**  contact  **/
.contact{
    padding: 140px 0;
    overflow: hidden;
    text-align: center;
}

.contact .title{
    margin-top: 40px;
}

.contact hr{
    display: block;
    border: 0;
    width: 100px;
    height: 1px;
    background: #797979;
    margin: 60px auto;
}

.contact .email,
.contact .phone{
    color: grey;
    font-size: 20px;
    letter-spacing: 2px;
}

.contact .email{
    margin-bottom: 40px;
}

.nav-bottom {
	bottom: 0;
	display: inline;
}

/**  footer  **/
.logo-footer {
	width: 30px;
}

footer{
    width: 100%;
    padding: 60px 0;
    background: #3e3d3d;
}

footer .copyrights{
    float: left;
}

footer .copyrights p{
    display: inline-block;
    color: #b6b6b6;
    font-family: "opensans-regular", arial;
    font-size: 13px;
    margin-left: 20px;
    letter-spacing: .5px;
}

footer .copyrights a{
    color: #d7d7d7;
    font-family: "opensans-semibold", arial;
    font-weight: bold;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer .copyrights a:hover{
    color: #ffffff;
}

footer nav ul{
	list-style-type: none;
	float: center;
}

footer nav ul li {
	display: inline-block;
	margin-right: 25px;
}

footer nav ul li a {
	color: white;
}

footer nav ul li a:hover {
	color: grey;
	transition:all .3s linear;
  -webkit-transition:all .3s linear;
  -moz-transition:all .3s linear;
  -o-transition:all .3s linear;
}

footer .social{
    float: right;
}

footer .social ul{
    list-style: none;
    overflow: hidden;
}


footer .social ul li{
    display: inline-block;
    margin-right: 25px;
    letter-spacing: .5px;
}

footer .social ul li:last-child{
    margin-right: 20px;
}

footer .social ul li a{
    color: #b5b5b5;
    font-size: 14px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer .social ul li a:hover{
    color: #fff;
}

@media only screen and (min-width: 25em) {

}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

}
