@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
	text-align: center;
}

footer {
	text-align: center;
}

ul#top {
	display: inline;
}

nav {
	text-transform: uppercase;
	display: block;
}

nav a {
	text-decoration: none;
}

nav li {
	display: inline;
	list-style-type: none;
}

#content1,
#content2,
#content3,
#footer {
	padding: 10rem;
}

#top {
	background-color: rgb(217,72,72);
	margin: 0;
	padding-top: 2em;
	padding-bottom: 2em;
}

#top a {
    padding: 5px 25px 7px 25px;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
	-o-transition: 1s all ease;
    transition: 1s all ease;
    color: #fff;
}

#top a:hover,
#top li:hover a{
	color: black;
}

#top li.active a {
    color: #FFF;
	background-color: black;
}

#content1 {
	background-color: rgb(137,166,129);
}


#content2 {
	background-color: rgb(187,184,143);
}


#content3 {
	background-color: rgb(217,100,89);
}

h2 {
	color: #fff;
}

@media only screen and (min-width: 38em){
	ul#top li {
		display: inline;
	}
}

body {
  margin: 0;
  padding: 0;
}

.menuIcon {
  background: #27bdb8;
  display: block;
  font-family: "Raleway";
  color: #fff;
  text-decoration: none;
  padding: .75em;
  font-size: 1.5em;
  text-align: right;
}

.nav {
  background: #27bdb8;
  margin: 0;
  padding: 0;
  text-align: center;
  display: none;
}

.nav li {
  font-family: "Raleway";
  font-weight: 700;
  list-style: none;
  color: white;
  letter-spacing: .1em;
  padding: 1em;
}

.nav a {
  text-decoration: none;
}

.selected {
  background: #06919a;
}

.list {
  display: block;
}

@media screen and (min-width: 480px) {

  .nav {
    font-size: 0;
    background: #27bdb8;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: block;
  }

  .nav li {
    font-family: "Raleway";
    font-weight: 700;
    color: #fff;
    list-style: none;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: .1em;
    padding: 1em;
  }

  .selected {
    background: #06919a;
  }

  .menuIcon {
    display: none;
  }

}
