@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
	text-align: center;
}

footer {
	text-align: center;
}

ul#top {
	display: inline;
}

nav {
	text-transform: uppercase;
	display: block;
}

nav a {
	text-decoration: none;
}

nav li {
	display: inline;
	list-style-type: none;
}

#content1,
#content2,
#content3,
#footer {
	padding: 10rem;
}

#top {
	background-color: rgb();
	margin: 0;
	padding-top: 2em;
	padding-bottom: 2em;
}

#top a {
    padding: 5px 25px 7px 25px;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
	-o-transition: 1s all ease;
    transition: 1s all ease;
    color: #fff;
}

#top a:hover,
#top li:hover a{
	color: black;
}

#top li.active a {
    color: #FFF;
	background-color: black;
}

#content1 {
	background-color: rgb();
}


#content2 {
	background-color: rgb();
}


#content3 {
	background-color: rgb();
}

h2 {
	color: #fff;
}

@media only screen and (min-width: 38em){
	ul#top li {
		display: inline;
	}
}
